.SideBar{
    width: 95px;
    height: 90vh;
    overflow-x: hidden;
}
.items{
    margin-bottom: 10px;
    cursor: pointer;
}
.hom{
    padding-left: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    margin-bottom: 10px;
}
.hom:hover{
border-radius: 5px;
    background-color: rgb(241, 238, 238);
}

.hom h1{
    font-size: small;
    font-weight: 400;
}

.hom img{
    width: 30px;
}

.shrt{
    padding-left: 10px;
    padding-top: 7px;
    margin-bottom: 10px;
    padding-bottom: 7px;
    padding-right: 7px;
    cursor: pointer;}

    .shrt h1{
    font-size: small;
    font-weight: 400;
    }
.shrt:hover{
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
}
.play{

    padding-top: 7px;
    margin-bottom: 10px;
    padding-bottom: 7px;
    padding-right: 3px;
    cursor: pointer;
}
.play img{
width: 40px;
padding-left: 10px
};
.play h1{
    padding-left: 40px;
    font-size: small;
}
.play:hover{
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
}

.homes{
    padding: 10px;
    padding-top: 7px;
    margin-top:  7px;
    padding-right: 7px;
    cursor: pointer;
    padding-left: 10px;
    
}
.homes img{
    width: 70px;
padding-right: 30px;
border-radius: 100%;

}
.homes h1{
    padding-left: 10px;
    font-size: medium;
}
.homes:hover{
    background-color:rgb(241, 238, 238);
    border-radius: 7PX;
}