@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.page-container div{
  display: flex;
  gap: 15px;
  margin-left: 28px;

}